.input-box-wrapper {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: 30px 0 20px 20px;
    width: 80%;
  }
  .label-name{
    font-weight: 400;
    @media only screen and (max-width: 491px) {
      font-size: 14px;
}
  }
  
  .input-box{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #96a0ac;
    border-radius: 4px;
    @media only screen and (max-width: 768px) {
      width: 110%;
}
    @media only screen and (max-width: 491px) {
      margin-top: 10px;
}
  }
    .input-box:focus{
    outline: none ;
    border: none;
    border-bottom: 2px solid #39afbd;
  }