@import '../../common/colors.scss';
.new-schema-container{
    border: 2px solid ;
    border-color: $primary-bg-color; 
    padding: 10px 0px;
    margin-left: 10px;
    margin-right: 13px;
    margin-bottom: 20px;
    border-radius: 8px;
}